/* The HTML template styles are loaded from /public/css in app/layout.js. */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
